.login-page-wrapper {
  display: grid;
  place-content: center;
  height: 50%;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1rem;
}

.left-main-wrapper {
  display: grid;
  place-content: center;
  width: 100%;
}

#login-page-img {
  display: grid;
  place-content: center;
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
}

.right-main-wrapper {
  display: grid;
  align-content: start;
}

#login-form {
  display: grid;
  gap: 1rem;
  place-content: space-between;
  position: sticky;
  top: 150px;
  backdrop-filter: blur(10px);
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

#login-form h1 {
  font-family: "Permanent Marker";
  color: #7f4f24;
  font-size: 40px;
}

#login-form label {
  display: grid;
  place-content: center;
  width: 300px;
  height: 40px;
}

#login-form input {
  display: grid;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  font-size: 15px;
  /* font-family: "Permanent Marker"; */
}

#login-form button {
  display: grid;
  width: 300px;
  height: 40px;
  place-content: center;
  border-style: none;
  border-radius: 5px;
  font-family: "Permanent Marker";
  background-color: #7f4f24;
  color: whitesmoke;
  transition: 0.3s;
}

#login-form button:hover {
  cursor: pointer;
  transform: translate(-3px);
  transition: 0.3s;
}

#signup-link-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-weight: 700;
  place-content: center;
  gap: 1rem;
  font-weight: 800;
}

#link {
  display: grid;
  color: #7f4f24;
  transition: 0.3s;
}

#link:hover {
  cursor: pointer;
  transform: translate(-3px);
  transition: 0.3s;
}