/* HERE THE GIRD LAYOUT FOR THE PAGE */
section.container-VideoPage {
    height: 100vh;
    display: grid;
    grid-template: 
    "header header" 0.1fr
    "main-menu right-menu" 0.9fr /
    0.7fr 0.3fr;
    grid-gap: 40px;
    /* overflow: scroll; */

}

section.container-VideoPage main.main-menu {
    grid-area: main-menu;
    /* outline: 0.5px solid #000; */
    background-color: #f9f9f9;
    display: grid;
    grid-template-rows: 0.9fr 0.1fr;
    grid-gap: 30px;
    width: 100%;
    overflow: scroll;
    align-content: start;
}

section.container-VideoPage aside.right-menu {
    grid-area: right-menu;
    /* outline: 0.5px solid #000; */
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    /* place-items: center; */
    background-color: #f6f0f0;
    overflow: scroll;
}

aside.right-menu .right-menu-post {
    /* outline: 0.1px solid #1e1f20; */
    display: grid;
    grid-template: 
    "image-post video-title" 0.5fr
    "image-post video-user" auto
    "image-post video-views" auto /
     0.4fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    justify-content: left;
    align-content: start;
    align-items: center; /*combo to make something to start in left but centered great combo */
}

aside.right-menu .right-menu-post .video-title {
    grid-area: video-title;
    font-size: 14px;
    font-weight: 700;
}

aside.right-menu .right-menu-post .video-user {
    grid-area: video-user;
    font-size: 12px;
}

aside.right-menu .right-menu-post .video-views {
    grid-area: video-views;
    font-size: 11px;
}

aside.right-menu .right-menu-post img.image-post {
    height: 100px;
    width: 150px;
    grid-area: image-post;
}

/* aside.right-menu .right-menu-post img.icon-post {
    border-radius: 20px;
    height: 36px;
    width: 36px;
    grid-area: icon-post;
} */

main.main-menu .video-player {
    display: grid;
    place-items: center;
    /* justify-content: center; */
}

main.main-menu .video-bottom {
    /* outline: 0.5px solid #000; */
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #065fd4;
}

#videoPlayer {
    width: 750px;
    height: 450px;
    border: 1px solid #F00;
    object-fit:cover; /* for those who do support it */
  }

main.main-menu .video-bottom .header-video {
    display: grid;
    justify-content: left;
    align-items: center;
    grid-gap: 10px;
    padding-left: 50px;
}

main.main-menu .video-bottom .group-video-2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    place-items: center;
    grid-gap: 5px;
    padding-right: 50px;
}

main.main-menu .video-bottom h2 {
    font-size: 16px;
    font-weight: 800;
}

main.main-menu .video-bottom .group-video-1 span {
    font-size: 12px;
    font-weight: 400;
}

main.main-menu .video-bottom .group-video-2 span {
    font-size: 12px;
    font-weight: 400;
}

main.main-menu .video-bottom .group-video-2 i {
    font-size: 26px;
    color: #065fd4;
}

main.main-menu .video-username {
    display: grid;
    /* place-items: center; */
    justify-content: left;
    /* outline: 0.5px solid #000; */
}

main.main-menu .video-username .wrapper {
    display: grid;
    grid-template: 
    "img-video title-video btn-video" 0.15fr
    "img-video span-video btn-video" 0.15fr
    "img-video p-video p-video" 0.6fr
    "img-video a-video a-video" 0.1fr /
    0.1fr 0.6fr 0.3fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    padding-left: 50px;
}

main.main-menu .video-username .wrapper .title-wrapper {
    display: grid;
    grid-template: 
    "title-video" 1fr
    "span-video" 1fr /
    1fr;
    grid-gap: 5px;
}


main.main-menu .video-username img.img-video {
    grid-area: img-video;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}
main.main-menu .video-username h3.title-video {
    grid-area: title-video;
    font-size: 14px;
    font-family: sans-serif;
}
main.main-menu .video-username span.span-video {
    grid-area: span-video;
    font-size: 12px;
    /* padding-top: 10px; */
}
main.main-menu .video-username p.p-video {
    grid-area: p-video;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
}
main.main-menu .video-username a.a-video {
    grid-area: a-video;
    color: #065fd4;
}
main.main-menu .video-username button.btn-video {
    grid-area: btn-video;
    height:35px;
    cursor: pointer;
    width: 125px;
    font-size: 14px;
    background-color: #cc0000;
    color: #fff;
    font-weight: 600;
    letter-spacing: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main.main-menu .video-username .btn-wrapper {
    display: grid;
    justify-content: right;
}

main.main-menu .video-ribbon {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    /* justify-content: center; */
    padding-left: 50px;
    /* outline: 0.5px solid #111111; */
}

main.main-menu .video-ribbon .ribbon-wrapper-row-1 {
    display: grid;
    grid-template-columns: 0.2fr 30px 0.7fr;
    grid-gap: 10px;
    justify-content: left;
    align-items: center;
    /* padding-left: 50px; */
}

main.main-menu .video-ribbon .ribbon-wrapper-row-2 {
    display: grid;
    grid-template-columns: 0.1fr auto;
    grid-gap: 10px;
    justify-content: left;
    align-items: center;
    /* padding-left: 50px; */
}

main.main-menu .video-ribbon .ribbon-wrapper-row-1 span {
    font-size: 16px;
}

main.main-menu .video-ribbon .ribbon-wrapper-row-2 span  {
    font-size: 14px;
}

.video-ribbon textarea {
    border: none;
    outline: none;
    resize: none;
    font-size: 14px;
}

.video-ribbon img {
    border-radius: 50px;
    height: 40px;
    width: 40px;   
}

main.main-menu .video-comments {
    display: grid;
    /* place-items: center; */
    justify-content: left;
    /* outline: 0.5px solid #000; */
    grid-gap: 35px;
}

main.main-menu .video-comments .comments-wrapper {
    display: grid;
    grid-template: 
    "img-comments h4-wrapper h4-wrapper" 0.15fr
    "img-comments p-comments p-comments" 0.6fr
    "img-comments like-wrapper like-wrapper" 0.15fr
    "img-comments a-comments a-comments" 0.1fr /
    0.1fr 0.6fr 0.3fr;
    grid-row-gap: 10px;
    grid-column-gap: 5px;
    padding-left: 50px;
}

main.main-menu .video-comments .comments-wrapper .like-wrapper {
    display: grid;
    grid-template-columns: 20px 20px 20px 150px;
    grid-gap: 15px;
}

main.main-menu .video-comments .comments-wrapper .img-comments {
    grid-area: img-comments;
}

main.main-menu .video-comments .comments-wrapper img {
    border-radius: 50px;
    height: 40px;
    width: 40px;   
}

main.main-menu .video-comments .comments-wrapper .h4-wrapper {
    grid-area: h4-wrapper;
    display: grid;
    grid-template-columns: 150px 150px;
}

main.main-menu .video-comments .comments-wrapper .h4-wrapper h4 {
    font-size: 13px;
    font-weight: 700;
}

/* main.main-menu .video-comments .comments-wrapper .span-1-comments {
    grid-area: span-1-comments;
} */

main.main-menu .video-comments .comments-wrapper .p-comments {
    grid-area: p-comments;
}

main.main-menu .video-comments .comments-wrapper .p-comments {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: normal;
}

main.main-menu .video-comments .comments-wrapper .like-wrapper {
    grid-area: like-wrapper;
}

main.main-menu .video-comments .comments-wrapper .like-wrapper i.material-icons {
    font-size: 18px;
    color: #065fd4;
}

/* main.main-menu .video-comments .comments-wrapper .icon-comments {
    grid-area: icon-comments;
} */

/* main.main-menu .video-comments .comments-wrapper .span-reply {
    grid-area: span-reply;
} */

main.main-menu .video-comments .comments-wrapper .a-comments {
    grid-area: a-comments;
}

main.main-menu .video-comments .comments-wrapper .a-comments{
    color: #065fd4;
}

/*making the site responsive */
@media screen and (max-width: 1250px) {
    .video-player iframe {
        height: 400px;
        width: 600px;
    }
}

@media screen and (max-width: 850px) {
    section.container-VideoPage header.header {
        width: 100vw;
    }

    .video-player iframe {
        height: 400px;
        width: 400px;
    }

}

@media screen and (max-width: 700px) {

    section.container-VideoPage {
        height: 100vh;
        display: grid;
        grid-template: 
        "header" 0.1fr
        "main-menu" 0.9fr /
        1fr;
    }

    section.container-VideoPage aside.right-menu {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    header.header .header-sub-2 .header-group-2 {
        display: grid;
        grid-template-columns: auto auto ;
        place-items: center;
        justify-content: center;
        grid-gap: 5px;
        width: 100%;
    }

    header.header .header-sub-3 .header-group-3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        width: 100%;
    }

    header.header .header-sub-1 .header-group-1 {
        display: grid;
        grid-template-columns: auto auto ;
        place-items: center;
        justify-content: center;
        grid-gap: 5px;
        width: 100%;
    }
}