/*DEFAULT VALUES  had a problem with header not quite responsive and the right header magically moved like 100 px from right to left and caused problems but with AUTO in grid fixed it also add AUTO to 900 px media query especially the last button*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 1s;
}

.material-icons {
    color: #141616;
  }

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar:hover {
    width: 10px;
    background-color: #b1b8c2;
    transition: 1s;
}

/* ::-webkit-scrollbar-button {
    width: 10px; 
    height: 50px; 
} */

::-webkit-scrollbar-button:hover {
    width: 10px;  
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    overflow-x: hidden; /* removes scroll in bottom */
}

html {
    scroll-behavior: smooth;
}

a {
    transition: 1s;
    color: #111111;
}

/* HERE THE GIRD LAYOUT FOR THE PAGE */
section.container-menus {
    height: 100vh;
    display: grid;
    grid-template: 
    "header header" 0.1fr
    "left-menu mini-header" 0.08fr
    "left-menu main-menu" 0.82fr /
    0.15fr 0.85fr;
    /* overflow: scroll; */
}

section.container-menus header.header {
    grid-area: header;
    outline: 1px solid #000;
    width: 100%;
    display: grid;
    grid-template: 
    "header-sub-1 header-sub-2 header-sub-3" 1fr /
    0.2fr 0.9fr auto; /* this is where the bug was wich cause header problems, i had all three at 1fr 1fr 1fr but when i tried auto in the last part all went perfect when responsive*/
    background-color: #f9f9f9;
    grid-gap: 5px;
    /* position: fixed;
    z-index: 1; */
}

section.container-menus header.mini-header {
    grid-area: mini-header;
    outline: 1px solid #000;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    /* position: relative;
    z-index: 1; */
}

section.container-menus aside.left-menu {
    grid-area: left-menu;
    outline: 1px solid #000;
    width: 100%;
    display: grid;
    grid-template: 
    "left-menu-sub-1" 0.15fr
    "left-menu-sub-2" 0.15fr
    "left-menu-sub-3" 0.15fr
    "left-menu-sub-4" auto /
    /* "left-menu-sub-5" 0.05fr
    "left-menu-sub-6" 0.05fr
    "left-menu-sub-7" 0.3fr
    "left-menu-sub-8"; 0.3fr */
    1fr;
    overflow: scroll;
    grid-gap: 10px;
    background-color: #f9f9f9;
    overflow-x: hidden;
}

section.container-menus main.main-menu {
    grid-area: main-menu;
    outline: 1px solid #000;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    place-items: center;
    justify-content: center;
    overflow: scroll; 
    overflow-x: hidden; 
    padding-top: 25px;
}

section.container-menus header.header .header-sub-1 {
    grid-area: header-sub-1;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

section.container-menus header.header .header-sub-2 {
    grid-area: header-sub-2;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
}

section.container-menus header.header .header-sub-3 {
    grid-area: header-sub-3;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    /* align-content: start; */
    width: 100%;
}

section.container-menus aside.left-menu .left-menu-sub-1 {
    grid-area: left-menu-sub-1;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    /* align-content: start; */
}

section.container-menus aside.left-menu .left-menu-sub-2 {
    grid-area: left-menu-sub-2;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    /* align-content: start; */
}

section.container-menus aside.left-menu .left-menu-sub-3 {
    grid-area: left-menu-sub-3;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    /* align-content: start; */
}

section.container-menus aside.left-menu .left-menu-sub-4 {
    grid-area: left-menu-sub-4;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    /* align-content: start; */
}

/* section.container-menus aside.left-menu .left-menu-sub-5 {
    grid-area: left-menu-sub-5;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-6 {
    grid-area: left-menu-sub-6;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-7 {
    grid-area: left-menu-sub-7;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
}

section.container-menus aside.left-menu .left-menu-sub-8 {
    grid-area: left-menu-sub-8;
    outline: 0.5px solid rgba(41, 19, 19, 0.363);
} */

header.header .header-sub-1 .header-group-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 10px;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 {
    display: grid;
    grid-template-columns: 550px auto;
    place-items: center;
    justify-content: center;
    grid-gap: 10px;
    width: 100%;
}

header.header .header-sub-3 .header-group-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 5px;
    place-items: center;
    /* justify-content: center; */
    /* padding-right: 10px; */
    width: 100%;
}

header.header .header-sub-3 .header-group-3 button {
    text-transform: uppercase;
    border: 1px solid #065fd4;
    background-color: #fff;
    font-size: 14px;
    padding: 8px 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: 'Roboto', sans-serif;
    color: #065fd4;
    margin-right: 10px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

header.header .header-sub-3 .header-group-3 button i {
    color: #065fd4;
}

header.header .header-sub-3 .header-group-3 button:hover i {
    color: #e0e4eb;
    transition: 1s;
}

header.header .header-sub-3 .header-group-3 button:hover {
    background-color: #065fd4;
    color: #fff;
    border: 1px solid #111111;
    transition: 1s;
}

header.header .header-sub-2 .header-group-2 .button-search {
    
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 a i{
    font-size: 26px;
}


header.header .header-sub-2 .header-group-2 input {
    font-size: 16px;
    background-color: #fff;
    color: #111111;
    letter-spacing: normal;
    font-weight: normal;
    border: 1px solid #b1b7c0;
    padding: 8px 10px;
    width: 100%;
}

header.header .header-sub-2 .header-group-2 button {
    padding: 8px 10px;
    font-size: 16px;
    background-color: #f5eded;
    border: 1px solid #1e1f20;
    cursor: pointer;
}

header.header .header-sub-2 .header-group-2 input:active {
    border: 1px solid #065fd4;
}

header.mini-header ul.elements-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 130px);
    grid-gap: 15px;
    place-items: center;
    justify-content: left;
    /* padding-left: 10px; */
    overflow: hidden;
    width: auto;
}

header.mini-header ul.elements-wrapper li {
    border-radius: 20px;
    background-color: #f5eded;
    padding: 5px 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #111111;
    letter-spacing: 0.1px;
    cursor: pointer;
    border: 1px solid #aca3a3;
    /*display: grid;
    place-items: center;
     */
}

header.mini-header ul.elements-wrapper li:hover {
    background-color: #141616;
    transition: 1s;
    color: #fff;
    border: 2px solid #ffffff;
}

aside.left-menu .left-menu-sub-1 .left-group-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* place-items: center; */
    justify-content:center;
    place-items: center;
    /* align-items: center; */
    /* align-content: center; this fixe text not centering like place-items */
    grid-gap: 20px;
}

aside.left-menu .left-menu-sub-2 .left-group-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
    place-items: center;
    align-content: center;
}

aside.left-menu .left-menu-sub-3 .left-group-3 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-gap: 20px;
    align-items: center;
    place-items: center;
}

aside.left-menu .left-menu-sub-4 .left-group-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 10px;
    align-items: center;
    place-items: center;
}

aside.left-menu .left-menu-sub-1 .left-group-1 span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    font-weight: normal;
    color: #030303;
}

aside.left-menu .left-menu-sub-2 .left-group-2 span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
    font-weight: normal;
    color: #030303;
}

aside.left-menu .left-menu-sub-3 .left-group-3 span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px;
    font-weight: normal;
    color: #030303;
}

aside.left-menu .left-menu-sub-4 .left-group-4 span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px;
    font-weight: normal;
    color: #030303;
}

aside.left-menu .left-menu-sub-3 .left-group-3 button {
    text-transform: uppercase;
    border: 1px solid #065fd4;
    background-color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    color: #065fd4;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

aside.left-menu .left-menu-sub-3 .left-group-3 button:hover {
    background-color: #065fd4;
    color: #fff;
    border: 1px solid #111111;
    transition: 1s;
}

aside.left-menu .left-menu-sub-3 .left-group-3 i{
    color: #065fd4;
    transition: 1s;
}

aside.left-menu .left-menu-sub-3 .left-group-3 span{
    color: #065fd4;
    font-size: 12px;
    font-weight: 600;
}

aside.left-menu .left-menu-sub-3 .left-group-3 button:hover i{
    color: #fff;
    transition: 1s;
}

aside.left-menu .left-menu-sub-3 .left-group-3 button:hover span{
    color: #fff;
    transition: 1s;
}

aside.left-menu .left-menu-sub-3 .left-group-3 p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    font-weight: normal;
    padding-left: 20px;
}

aside.left-menu .left-menu-sub-4 .special-case-4 {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    justify-content: center;
}

aside.left-menu .left-menu-sub-4 .special-case-4 span {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

aside.left-menu .left-menu-sub-4 .left-group-4 img {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

main.main-menu .main-post {
    outline: 0.5px solid #1e1f20;
    display: grid;
    grid-template: 
    "image-post image-post image-post" 0.7fr
    "icon-post video-title video-title" 0.2fr
    "icon-post video-user video-user" 0.05fr
    "icon-post video-views video-views" 0.05fr /
    0.2fr 0.4fr 0.4fr;
    grid-row-gap: 5px;
    grid-column-gap: 3px;
    /* grid-area: main-post; */
}

main.main-menu .main-post:hover
{
    transform: scale(1.2);
    margin-right: 3%;
    margin-left: 3%;
    transition: 1s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

main.main-menu .main-post .video-title {
    grid-area: video-title;
    font-size: 14px;
    padding-bottom: 5px;
}

main.main-menu .main-post .video-user {
    grid-area: video-user;
    font-size: 12px;
}

main.main-menu .main-post .video-views {
    grid-area: video-views;
    font-size: 12px;
}

main.main-menu .main-post img.image-post {
    height: 150px;
    width: 260px;
    grid-area: image-post;
}

main.main-menu .main-post img.icon-post {
    border-radius: 20px;
    height: 36px;
    width: 36px;
    grid-area: icon-post;
}



main.main-menu .row-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    place-items: center;
    justify-content: center;
}





@media screen and (max-width: 1250px) {
    header.mini-header ul.elements-wrapper {
        overflow: hidden;
    }

    section.container-menus main.main-menu {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-gap: 30px;
    }

    section.container-menus main.main-menu .row-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
}

@media screen and (max-width: 850px) {
    section.container-menus header.header {
        width: 100vw;
    }
    /* header.header .header-sub-3 .header-group-3 {
        /* width: 100vw; */
}

@media screen and (max-width: 600px) {

    section.container-menus {
        height: 100vh;
        display: grid;
        grid-template: 
        "header" 0.1fr
        "mini-header" 0.08fr
        "main-menu" 0.82fr /
        1fr;
    }

    section.container-menus main.main-menu .row-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    section.container-menus aside.left-menu {
        display: none;
    }

}

@media screen and (max-width: 900px) {
    header.header .header-sub-2 .header-group-2 {
        display: grid;
        grid-template-columns: auto auto ;
        place-items: center;
        justify-content: center;
        grid-gap: 5px;
        width: 100%;
    }

    header.header .header-sub-3 .header-group-3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        width: 100%;
    }

    header.header .header-sub-1 .header-group-1 {
        display: grid;
        grid-template-columns: auto auto ;
        place-items: center;
        justify-content: center;
        grid-gap: 5px;
        width: 100%;
    }
}